* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/***********HEADER***********/
header {
  background: url(../images/background.jpg);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75vh;
}

.menu-desplegar {
  display: flex;
}

header a {
  color: white;
  text-decoration: none;
}

#nav-title {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 13px;
  width: 100%;
}

#menu-nav > li {
  list-style: none;
  padding: 9px 10px;
  font-size: 18px;
  margin: 0 5px; /*este me causa ruido*/
}

.main-nav-logo {
  display: flex;
  padding: 0 10px 0 15px;
  width: 30%;
}

.main-nav-logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.main-nav-logo a:hover {
  color: rgb(216, 210, 210);
}
.main-nav-logo img {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 0.4em;
}

#menu-nav {
  display: flex;
  padding: 10px;
  width: 70%;
  justify-content: right;
  margin: 0 20px 0 60px;
}

.menu-nav-elem:hover {
  color: rgb(216, 210, 210);
}

.boton-nav a {
  background-color: rgba(5, 160, 129, 0.932);
  padding: 8px 22px;
  border-radius: 0.3em;
}

.boton-nav a:hover {
  position: relative; /*conesto puedo hace rla transicon*/
  /*es mejopr darle hover al contenedor*/
  /* esto puede servir para google box-shadow: 0 0 10px 0px rgba(5, 160, 129, 0.5); */
  background-color: rgba(5, 160, 129, 0.5);
  top: -2px;
}

.header-main-text {
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center;*/
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 30px 0;
}

.text-search {
  font-size: 2.3em;
  font-weight: 700;
  width: 50%;
  height: 30vh;
  padding: 10px 0 0 0;
}
.search {
  display: flex;
  width: 50%;
}
#buscar {
  width: 90%;
  height: 8.7vh;
  border-radius: 0.5em 0 0 0.5em;
  background-color: rgba(251, 251, 255, 0.877);
  border: none;
}
#buscar::placeholder {
  font-size: 1.5em;
  padding-left: 15px;
}
.search-button {
  border-radius: 0 0.5em 0.5em 0;
  font-size: x-large;
  border: none;
  padding: 0 14px;
  background-color: rgba(251, 251, 255, 0.877);
}

#sugerencia a {
  font-size: smaller;
  color: rgb(198, 198, 204);
}
#sugerencia a:hover {
  color: white;
}
.main-bar {
  display: flex;
  flex-direction: column;
}

#second-menu {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
}

#second-menu a {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}

#second-menu a:hover {
  color: #0064f9;
}

#second-menu a:focus {
  border-bottom: 2px solid #0064f9;
}

.line-after-menu {
  color: rgb(161, 156, 156);
  opacity: 0.2;
  border: 1px solid;
}

.title-list {
  display: inline-flex;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  padding: 10px;
  font-weight: 500;
}
.text-under-nav {
  margin: 10px;
  font-size: 18px;
}

#list-under-nav {
  font-weight: 500;
  padding: 0;
  border: none;
  font-size: 14px;
}

.column img {
  width: 100%;
}
.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.column {
  flex: 25%; /*un espacio por columna*/
  padding: 5px;
}

#toggle,
#close,
.open,
.close {
  display: none;
}

/***********Menu desplegable***********/

#menu-nav li a:hover {
  color: rgb(216, 210, 210);
}

#menu-nav li ul {
  display: none;
  font-weight: 500;
  color: rgb(48, 46, 46);
  font-size: 18px;
  position: absolute; /*evita que se deforme el menu principal*/
  /* min-width:300px; */
  right: 140px; /*esto hace que el submenu no se vaya mucho a la drecha */
  padding: 6px 0;
  z-index: 1; /*orden de las capas*/
}

#menu-nav li ul li {
  position: relative;
  background-color: white;
  top: 0;
  text-decoration: none;
  list-style: none;
  padding: 10px 20px 10px 15px;
}

.menu-show-after-checked { /*eel primer pop-menu*/
  position: absolute;
  width: 200px;
  right: 0;
  left: 39em;
}

#menu-nav li:hover > ul {
  display: block;
}

#menu-nav li:hover > ul li:hover {
  background-color: rgb(221, 218, 218);
}

/***********Social Media Icons***********/
.social-media {
  display: flex;
}

.social-media i {
  padding: 12px 20px;
  /* margin: 10px; */
  color: #232a34;
}
.social-media i:hover {
  color: white;
  background-color: #232a34;
}

/***********Sticky nav***********/

.main-fixed {
  width: 100%;
  /* position: -webkit-sticky; */
  background-color: transparent;
  /* position: fixed; */
  /* position: sticky;  */
  z-index: 1000; /*para que se sobreponga*/
  top: 0; /*Para colocarlo hasta arriba*/
}

/***********Buscador a ocultar***********/
.search-hide {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}
.search-hide {
  display: none;
}

.show-search-hide {
  display: flex;
}

#buscar-hide {
  width: 100%;
  height: 7vh;
  margin: 10px 0 10px 10px;
  padding: 5px;
  border-radius: 0.5em 0 0 0.5em;
  background-color: rgba(247, 247, 253, 0.999);
  border: none;
  /* display: none; */
}
#buscar-hide::placeholder {
  font-size: 1.5em;
  padding-left: 15px;
}
.search-button-hide {
  border-radius: 0 0.5em 0.5em 0;
  font-size: x-large;
  border: none;
  margin: 10px 10px 10px 0;
  padding: 0 5px;
  background-color: rgba(247, 247, 253, 0.999);
  /* display: none; */
}

.main-scroll {
  background-color: #232a34;
  position: fixed; /*se vuelve fijo al bajar el scroll*/
}

/***********TABLET***********/
@media screen and (max-width: 900px) {
  .column {
    flex: 33%;
  }
  .menu-desplegar {
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; Hara que el menu se pase a la siguente linea */
    /* flex-direction: column; */
  }
  #menu-nav {
    flex-direction: column;
    /* width: 50%; */
  }
  .open,
  .close {
    display: block;
    cursor: pointer;
    font-size: xx-large;
    color: white;
    background-color: #25233d;
    text-align: center;
  }

  #nav-title {
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    /*display: none;segunda opición*/
  }
  #toggle:checked ~ #nav-title {
    /* display: flex; */

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* display: none;*/
  }
  #toggle:checked ~ .close {
    display: flex;
    flex-direction: column;
  }
}

/***********MOBILE***********/
@media screen and (max-width: 499px) {
  .column {
    flex: 50%;
  }
}
